includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    excludePaths:
        - resources/
        - storage/
        - vendor/
        - docker/
    paths:
        - app/

    # Level 9 is the highest level
    level: 0
