<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="mysql-testing"/>
        <env name="DB_DATABASE" value="testing"/>
        <!-- Prevent committed bootstrap/cache artifacts from overriding phpunit.xml env values -->
        <env name="APP_CONFIG_CACHE" value="/tmp/laravel-config-testing.php"/>
        <env name="APP_ROUTES_CACHE" value="/tmp/laravel-routes-testing.php"/>
        <env name="APP_EVENTS_CACHE" value="/tmp/laravel-events-testing.php"/>
        <env name="APP_SERVICES_CACHE" value="/tmp/laravel-services-testing.php"/>
        <env name="APP_PACKAGES_CACHE" value="/tmp/laravel-packages-testing.php"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="LINK_SHORTENING_DOMAIN"  value="127.0.0.1" />
        <env name="LOG_CHANNEL" value="null"/>
        <env name="XDEBUG_MODE" value="coverage"/>
        <env name="SCOUT_DRIVER" value="null"/>
        <env name="BROADCAST_DRIVER" value="null"/>
    </php>
</phpunit>
